h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
    /* background-image: url("terra.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top; */
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

#button-show-photo {
    max-width: 200px;
}