body {
    background-color: #345095;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.circulo {
    background-color: white;
    border-radius: 50%;
    width:250px;
    height:250px;
    box-shadow: 0 0 0 50px #2c478d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-busca {
    width: 35vw;
}

.input-texto {
    border: 2px solid #ffcb05;
    width: 400px;
    height: 30px;
}

#enviar {
    height: 37px;
}

@media (max-width: 800px) {
    body {
        flex-direction: column-reverse;
    }

    /* .circulo-maior {
        width: 80vw;
    } */
}

/* Cor azul claro: #2a75bb; */
/* Cor amarelo: #ffcb05
Cor amarelo escuro: #c7a008; */