body {
    background-image: url('fundo-final-bom.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerbom {
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    font-family: Helvetica;
    height: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.botao {
    background-color: transparent;
    border: 2px solid white;
    font-family: Helvetica, sans-serif;
    width: 120px;
    height: 35px;
    color: white;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao > a {
    text-decoration: none;
}

.botao:hover {
    background-color: white;
    color: rgb(1, 19, 3);
    font-weight: 600;
    cursor: pointer;
}

a:visited {
    color: orange;
    text-decoration: none;
}