@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Prompt&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: #111119;
  --white: #fffff0;
  --brown: #202020;
  --grey: rgb(17, 17, 25, 0.7);
}


body {
  font-family: -apple-system, 'Prompt', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
