.contact-container {
    display: flex;
    justify-content: stretch;
    align-items: center;
    
    height: 500px;
}

.black-sidebar {
    padding: 2rem;
    background-color: var(--black);
    height: 100%;
}

#message-ok, #message-error {
    display: none;
}

form {
    padding: 1.5rem 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* vertical writing */
.black-sidebar > h1 {
    writing-mode:vertical-rl;
}

input[type=text], [type=email], [type=phone] {
    border: 2px solid var(--black);
    box-shadow: 5px 5px var(--brown);
    width: 50%;
    line-height: 2rem;
}

textarea {
    border: 2px solid var(--black);
    box-shadow: 5px 5px var(--brown);
    width: 50%;
    height: 5rem;
}

@media (max-width: 600px) {
    input[type=text], [type=email], [type=phone], textarea {
        width: 100%;
    } 
}