footer {
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vh auto;
    justify-content: stretch;
    align-items: flex-start;
    padding: 3.5rem;
    gap: 2rem;
}

/* compresses the lines together */
.follow-me > h2 {
    font-size: 8vw;
   line-height: 50%;
}

.follow {
    text-align: start;
}

.me {
    text-align: end;
}