main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem;
}

.text-block {
    max-width: 50vw;
}

@media (max-width: 768px) {
    .text-block {
        width: 90vw;
    }
}