.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 3.5rem;
}

#say-hi-link {
    font-weight: 600;
    text-decoration: underline;
}

/* Stretches the title, arrow and message throught the whole grid */
.portfolio-container > h1, .say-hi, .portfolio-container > .arrow-down {
    grid-column: 1/4;
}

/* Centering the arrow and message */
.say-hi, .portfolio-container > .arrow-down {
    display: flex;
    justify-content: center;
    text-align: center;
}

.portfolio-card {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 300px;
    height: 150px;
    box-shadow: 5px 5px var(--brown);
}

.portfolio-project-name {
    font-weight: 600;
    line-height: 2rem;
}

.portfolio-button-line {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.portfolio-button-line > a {
    width: 100%;
}

.portfolio-button {
    margin: 0 0 15px 0 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--white);
    background-color: var(--black);
    font-size: 1rem;
}

.portfolio-card > p {
    margin-top: 10px;
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-container > h1, .say-hi, .portfolio-container > .arrow-down {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 600px) {
    .portfolio-container {
        display: flex;
        flex-direction: column;
    }
}